name: Lint and Test

on: pull_request

jobs:
  verify:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'
      - run: npm ci --legacy-peer-deps
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm run test:ci
